# Build options:
build --action_env=BAZEL_CXXOPTS="-std=c++20"
build --cxxopt='-Wall'
build --cxxopt='-Werror'

# Debug build specific options:
build:dbg --action_env=CUDA_LAUNCH_BLOCKING=1
build:dbg --action_env=TORCH_USE_CUDA_DSA=1
build:dbg --features=oso_prefix_is_pwd

# Optimized build specific options:
build:opt --cxxopt='-O3'

# Test options:
test: --test_output=all
